@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #d5bdaf;
  --bg: #fdfbf9;
  --text: #212529;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, .font-serif {
  font-family: 'Playfair Display', serif;
}

@keyframes slide-up {
  from { transform: translateY(20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
.animate-slide-up {
  animation: slide-up 0.3s ease-out forwards;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
.animate-fade-in {
  animation: fade-in 0.6s ease-out forwards;
}